{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Editar usuario</h1>
        <form method="post" action="{{ url('usuario_create_save') }}">
            <div class="form-group">
                <label for="nome_usuario">Nome do usuário</label>
                <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            <div class="form-group">
                <label for="access_level">Nivel de acesso</label>
                <select name="access_level" id="access_level" class="form-select">
                    <option value="">Selecione o nivel de acesso</option>
                    {% if app.session.get('accessLevel') == 'Super Admin' %}
                        <option value="Super Admin">Super Admin</option>
                    {% endif %}
                    <option value="Admin">Admin</option>
                    <option value="Balconista">Balconista</option>
                    <option value="Atendente">Atendente</option>
                    <option value="Tosador">Tosador</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock %}
