<div class="modal-header">
    <h5 class="modal-title">Detalhes da Consulta</h5>
</div>
<div class="modal-body">
    <p><strong>Data:</strong> {{ consulta.data|date('d/m/Y') }}</p>
    <p><strong>Hora:</strong> {{ consulta.hora|date('H:i') }}</p>
    <p><strong>Procedimento:</strong> {{ consulta.procedimento }}</p>
    <p><strong>Status:</strong> {{ consulta.status }}</p>
</div>
