{% extends 'baseLogin.html.twig' %}
{% block body %}
	  <h1>⏳ Pagamento em Processamento</h1>
  <p>Recebemos sua solicitação de pagamento e estamos aguardando a confirmação da operadora.</p>
  <p>Você será notificado assim que o pagamento for confirmado.</p>
  <a href="{{ url('landing_home') }}">Voltar à Página Inicial</a>
{% endblock %}