{% extends 'baseLogin.html.twig' %}
{% block body %}
	  <h1>✅ Pagamento Realizado com Sucesso!</h1>
  <p>Obrigado! Seu pagamento foi confirmado.</p>
  <p>Você receberá a confirmação por e-mail em breve.</p>
  <a href="{{ url('app_login') }}">Voltar à Página Inicial</a>
{% endblock %}