parameters:
    diretorio_temp: '%kernel.project_dir%/var/tmp'
    mercado_pago_token: '%env(resolve:MERCADO_PAGO_TOKEN)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
    App\Twig\:
        resource: '../src/Twig'
        tags: ['twig.extension']
        
    # Serviços personalizados
    App\Service\TempDirManager:
        shared: false
        arguments:
            $diretorioProjeto: '%kernel.project_dir%'

    App\Service\DatabaseBkp:
        arguments:
            $connection: '@doctrine.dbal.default_connection'

    # App\Repository\AgendamentoClinicaRepository:
    #     arguments:
    #         $conn: '@doctrine.dbal.default_connection'
    App\Service\PdfService:
        arguments:
            $twig: '@twig'

    App\Service\PagSeguroService:
        arguments:
            $email: '%env(PAGSEGURO_EMAIL)%'
            $token: '%env(PAGSEGURO_TOKEN)%'
    # App\Service\OpenAiService:
    #     arguments:
    #         $apiKey: '%env(OPENAI_API_KEY)%'

    App\Service\IaGeminiService:
        arguments:
            $apiKey: '%env(GEMINI_API_KEY)%'

    # App\Service\Payment\MercadoPagoService:
    #     arguments:
    #         $mercadoPagoToken: '%mercado_pago_token%'


    # ==========================================
    # PAYMENT GATEWAY SYSTEM
    # ==========================================
    
    # Interface e Factory para Gateways de Pagamento
    App\Service\Payment\PaymentGatewayFactory:
        arguments:
            - '@service_container'
        calls:
            # Registrar MercadoPago como gateway disponível
            - method: registerGateway
              arguments:
                  - 'mercadopago'
                  - '@App\Service\Payment\MercadoPagoService'
            # Adicione outros gateways aqui no futuro
            # - method: registerGateway
            #   arguments:
            #       - 'pagseguro'
            #       - '@App\Service\Payment\PagSeguroService'
    
    # MercadoPago Service (Nova implementação com interface)
    App\Service\Payment\MercadoPagoService:
        arguments:
            - '@Symfony\Contracts\HttpClient\HttpClientInterface'
            - '%env(MERCADOPAGO_ACCESS_TOKEN)%'
    
