{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}
    <h1>Menus</h1>
    <a href="{{ path('menu_index') }}">Voltar</a>

    <form method="post" action="" class="container mt-4">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Grupo</label>
            <input type="text" class="form-control" id="nome" name="nome"
                   value="{{ grupo is defined ? grupo.nome : '' }}" required>
        </div>

        <div class="mb-3">
            <label for="parent" class="form-label">Grupo Pai (ID)</label>
            <input type="number" class="form-control" id="parent" name="parent"
                   value="{{ grupo is defined ? grupo.parent : '' }}">
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

{% endblock %}
