{# templates/agendamento/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Lista de Agendamentos{% endblock %}

{% block body %}
    <h1>Lista de Agendamentos</h1>

    <table>
        <thead>
            <tr>
                <th>Data e Hora</th>
{#                 <th>Paciente</th>
                <th>Descrição</th> #}
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.dataHora|date('d/m/Y H:i') }}</td>
{#                     <td>{{ agendamento.paciente }}</td>
                    <td>{{ agendamento.descricao }}</td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhum agendamento encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
